* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
}

.card {
    height: auto;
    width: auto;
    padding: 52px 34px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 28px;

    background-color: pink;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    transition: all 0.4s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card:hover {
    padding: 72px 54px;
    cursor: pointer;
}

.top {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 28px;
}

.btm {
    width: 40vw;
    text-align: right;
    margin-right: 48px;
}